<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>PopGamers</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ReviewServlet</servlet-name>
		<servlet-class>ReviewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GameUserServlet</servlet-name>
		<servlet-class>GameUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DetailsServlet</servlet-name>
		<servlet-class>DetailsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DiscussionServlet</servlet-name>
		<servlet-class>DiscussionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GameUserServlet</servlet-name>
		<url-pattern>/GameUserServlet/dashboard</url-pattern>
		<url-pattern>/GameUserServlet/edit</url-pattern>
		<url-pattern>/GameUserServlet/update</url-pattern>
		<url-pattern>/GameUserServlet/delete</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ReviewServlet</servlet-name>
		<url-pattern>/ReviewServlet/GameListing</url-pattern>
		<url-pattern>/ReviewServlet/edit</url-pattern>
		<url-pattern>/ReviewServlet/update</url-pattern>
		<url-pattern>/ReviewServlet/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeedServlet</servlet-name>
		<url-pattern>/FeedServlet/dashboard</url-pattern>
		<url-pattern>/FeedServlet/edit</url-pattern>
		<url-pattern>/FeedServlet/update</url-pattern>
		<url-pattern>/FeedServlet/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DiscussionServlet</servlet-name>
		<url-pattern>/DiscussionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetailsServlet</servlet-name>
		<url-pattern>/DetailsServlet</url-pattern>
		<url-pattern>/DetailsServlet/dashboard</url-pattern>
		<url-pattern>/DetailsServlet/edit</url-pattern>
		<url-pattern>/DetailsServlet/delete</url-pattern>
		<url-pattern>/DetailsServlet/update</url-pattern>
	</servlet-mapping>


</web-app>